<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" ></button>
          </div>
        </ng-template>


        <ng-template pTemplate="right">
          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="foyers" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','adresse']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedfoyers" selectionMode="multiple" [rowHover]="true" dataKey="idFoyer">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Manage Foyer</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th>
            <th pSortableColumn="name">name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="adress">adress <p-sortIcon field="adress"></p-sortIcon></th>
            <th pSortableColumn="capacity">capacity<p-sortIcon field="capacity"></p-sortIcon></th>
            <th pSortableColumn="phonenumber">Phone number<p-sortIcon field="phone number"></p-sortIcon></th>

            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-foyer>
          <tr>
            <td>
              <p-tableCheckbox [value]="foyer"></p-tableCheckbox>
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
              {{foyer.code || foyer.idFoyer}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Name</span>
              {{foyer.nameFoyer}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">adress</span>
              {{foyer.adress}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">capacity</span>
              {{foyer.capacity}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Phone number</span>
              {{foyer.phoneNumber}}
            </td>

            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="preEditfoyer(foyer)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="foyer.idFoyer && deletefoyer(foyer.idFoyer)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="foyerDialog" [style]="{width: '450px'}" header="Foyer Details" [modal]="true" class="p-fluid">

      <form #form="ngForm" (ngSubmit)="savefoyer();hideDialog">
        <div class="field">
          <label for="name">name</label>
          <input type="text" pInputText id="name" name="name" [(ngModel)]="foyer.nameFoyer" required>
        </div>
        <div class="field">
          <label for="name">Address</label>
          <input type="text" pInputText id="adress" name="name" [(ngModel)]="foyer.adress" required>
        </div>
        <div class="field">
          <label for="capacity">Capacity</label>
          <input type="number" pInputText id="capacity" name="capacity" [(ngModel)]="foyer.capacity" required>
        </div>
        <div class="field">
          <label for="phone number">phone number</label>
          <input type="phone number" pInputText id="phone number" name="phone number" [(ngModel)]="foyer.phoneNumber" required>
        </div>

        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton type="submit"
                [disabled]="form.invalid" pRipple label="Save" icon="pi pi-check" class="p-button-text"></button>
      </form>

    </p-dialog>


    <p-dialog [(visible)]="foyerUpdateDialog" [style]="{width: '450px'}" header="Foyer Details" [modal]="true" class="p-fluid">

      <form #form="ngForm" (ngSubmit)="updateFoyer();hidefoyerUpdateDialog">
        <div class="field">
          <label for="name">name</label>
          <input type="text" pInputText id="name1" name="name" [(ngModel)]="foyer.nameFoyer" required>
        </div>
        <div class="field">
          <label for="name">Address</label>
          <input type="text" pInputText id="adress1" name="name" [(ngModel)]="foyer.adress" required>
        </div>
        <div class="field">
          <label for="capacity">Capacity</label>
          <input type="number" pInputText id="capacity1" name="capacity" [(ngModel)]="foyer.capacity" required>
        </div>
        <div class="field">
          <label for="phone number">phone number</label>
          <input type="phone number" pInputText id="phone" name="phone number" [(ngModel)]="foyer.phoneNumber" required>
        </div>
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hidefoyerUpdateDialog()"></button>
        <button pButton type="submit"
                [disabled]="form.invalid" pRipple label="Save" icon="pi pi-check" class="p-button-text"></button>
      </form>

    </p-dialog>






    <p-dialog [(visible)]="deletefoyersDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected Foyers?</span>
      </div>

      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deletefoyersDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>

  </div>
</div>
