<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button
              pButton
              pRipple
              label="New"
              icon="pi pi-plus"
              class="p-button-success mr-2"
              (click)="openNew()"
            ></button>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <p-fileUpload
            mode="basic"
            accept="image/*"
            [maxFileSize]="1000000"
            label="Import"
            chooseLabel="Import"
            class="mr-2 inline-block"
          ></p-fileUpload>
          <button
            pButton
            pRipple
            label="Export"
            icon="pi pi-upload"
            class="p-button-help"
            (click)="dt.exportCSV()"
          ></button>
        </ng-template>
      </p-toolbar>

      <p-table
        #dt
        [value]="rooms"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="10"
        [globalFilterFields]="['bedNbr', 'archived']"
        [rows]="10"
        [paginator]="true"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(selection)]="selectedrooms"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="idRoom"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0">Manage Rooms</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="Search..."
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="code">
              Code <p-sortIcon field="code"></p-sortIcon>
            </th>
            <th pSortableColumn="roomNbr">
              Room Number <p-sortIcon field="roomNbr"></p-sortIcon>
            </th>
            <th pSortableColumn="bedNbr">
              Nombre de bed <p-sortIcon field="bedNbr"></p-sortIcon>
            </th>
            <th pSortableColumn="archived">
              Archived <p-sortIcon field="archived"></p-sortIcon>
            </th>
            <th pSortableColumn="block">
              Block <p-sortIcon field="block"></p-sortIcon>
            </th>

            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-room>
          <tr>
            <td>
              <p-tableCheckbox [value]="room"></p-tableCheckbox>
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Code</span>
              {{ room.idRoom || room.idRoom }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Room Number</span>
              {{ room.roomNbr || room.roomNbr }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">nombre de bed</span>
              {{ room.bedNbr || room.bedNbr }}
            </td>
            <td style="width: 14%; min-width: 8rem">
              <span class="p-column-title">archived</span>
              {{ room.archived || room.archived }}
            </td>
            <td style="width: 14%; min-width: 8rem">
              <span class="p-column-title">block</span>
              {{ room.blockFoyer.nameBlock }}
            </td>

            <td>
              <div class="flex">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="preEditroom(room)"
                ></button>
                <button
                  (click)="deleteRoom(room.idRoom)"
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog
      [(visible)]="roomDialog"
      [style]="{ width: '450px' }"
      header="Room Details"
      [modal]="true"
      class="p-fluid"
    >
      <form #form="ngForm" (ngSubmit)="saveroom()">
        <div class="field">
          <label for="bedNbr">bedNbr</label>
          <input
            type="text"
            pInputText
            id="bedNbr"
            name="bedNbr"
            [(ngModel)]="room.bedNbr"
            required
          />
        </div>
        <div class="field">
          <label for="roomNbr">Room Number</label>
            <input
            type="text"
            pInputText
            id="roomNbr"
            name="roomNbr"
            [(ngModel)]="room.roomNbr"
            required
          />
        </div>
        <div class="field">
          <label for="archived">archived</label>
          <input
            type="text"
            pInputText
            id="archived"
            name="archived"
            [(ngModel)]="room.archived"
            required
          />
        </div>
        <div class="field">
          <label for="NameBlock">BlockName</label>
          <select
            id="NameBlock"
            pInputText
            name="NameBlock"
            [(ngModel)]="blockid"
            required
            #blockname
          >
            <option *ngFor="let option of listblock" [value]="option.idBlock">
              {{ option.nameBlock }}
            </option>
          </select>
        </div>

        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          type="submit"
          [disabled]="form.invalid"
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
        ></button>
      </form>
    </p-dialog>

    <p-dialog
      [(visible)]="updateroomDialog"
      [style]="{ width: '450px' }"
      header="Rmembership Details"
      [modal]="true"
      class="p-fluid"
    >
      <form
        #formupdate="ngForm"
        (ngSubmit)="updateroom(); (hideroomUpdateDialog)"
      >
        <div class="field">
          <label for="bedNbr">bedNbr</label>
          <input
            type="text"
            pInputText
            id="bedNbr"
            name="bedNbr"
            [(ngModel)]="room.bedNbr"
            required
          />
        </div>
        <div class="field">
          <label for="roomNbr">Room Number</label>
          <input
            type="text"
            pInputText
            id="roomNbr"
            name="roomNbr"
            [(ngModel)]="room.roomNbr"
            required
          />
        </div>
        <div class="field">
          <label for="archived">archived</label>
          <input
            type="text"
            pInputText
            id="archived"
            name="archived"
            [(ngModel)]="room.archived"
            required
          />
        </div>
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideroomUpdateDialog()"
        ></button>
        <button
          pButton
          type="submit"
          [disabled]="formupdate.invalid"
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
        ></button>
      </form>
    </p-dialog>

    <p-dialog header="Confirm" [modal]="true" [style]="{ width: '450px' }">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected products?</span>
      </div>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteroomsDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Yes"
          (click)="confirmDeleteSelected()"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
