<h2>Liste des forums</h2>
<!-- search bar -->
<div class="form-group">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search Forums" [(ngModel)]="query" (input)="searchForums()">
    <div class="input-group-addon">
      <i class="fa fa-search"></i>
    </div>
  </div>
</div>
<ul>
  <li *ngFor="let forum of forums">
    <h3>{{forum.title}}</h3>
    <p>{{forum.topic}}</p>
    <button (click)="onSelectForum(forum)">Editer</button>
    <button (click)="onDeleteForum(forum)">Supprimer</button>

    <a [routerLink]="['/threads/'+forum.id]">new Thread</a>


  </li>
</ul>

<h2>Ajouter/Editer un forum</h2>
<form [formGroup]="forumForm">
  <div>
    <label for="title">Titre:</label>
    <input type="text" formControlName="title" id="title">
  </div>
  <div>
    <label for="topic">Sujet:</label>
    <textarea formControlName="topic" id="topic"></textarea>
  </div>

  <button *ngIf="!selectedForum.id" (click)="onAddForum()">Ajouter</button>
  <button *ngIf="selectedForum.id" (click)="onUpdateForum()">Enregistrer</button>



</form>
